{% extends "base.html" %}
{% set nav="Admin" %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="title box wrap">
        <h2 class="box"><a href="{{ uri_for('users') }}">Users</a></h2>
    </div>
    <div class="title box wrap">
        <h2 class="box"><a href="{{ uri_for('servers') }}">Servers</a></h2>
    </div>
    <div class="title box wrap">
        {% if instance != None %}
            <h2 class="box">GCE Instance</a></h2>
            <div class="player wrap">
                <h1 class="data">{{ instance.name }} in {{ instance.zone }}</h1>
                <h1 class="data">{{ instance.status_message() }}</h1>
            </div>
            <h2 class="box"><a href="{{ uri_for('instance_configure') }}">Configure</a></h2>
        {% else %}
            <h2 class="box">GCE Not Set Up</a></h2>
        {% endif %}
    </div>
{% endblock %}
