{% extends "base.html" %}
{% set nav="Admin" %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="title box wrap">
        <h2 class="box"><a href="{{ uri_for('users') }}">Users</a></h2>
    </div>
    <div class="title box wrap">
        <h2 class="box"><a href="{{ uri_for('servers') }}">Servers</a></h2>
    </div>
    <div class="title box wrap">
        {% if instance and instance.is_setup() %}
            <h2 class="box">GCE Instance</h2>
            <div class="player wrap">
                <h1 class="data">{{ instance.status() }} in {{ instance.zone }}</h1>
            </div>
            <h2 class="box"><a href="{{ uri_for('instance_configure') }}">Configure</a></h2>
            {% if instance.is_unprovisioned() %}
                <form action="{{ uri_for('instance_start') }}" method="post">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Start</button>
                    </div>
                </form>
            {% endif %}
            {% if instance.is_running() %}
                <form action="{{ uri_for('instance_stop') }}" method="post">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Stop</button>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <h2 class="box">GCE Not Set Up</h2>
        {% endif %}
    </div>
{% endblock %}
