{%- set nav = nav -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block head %}
        <title>{{ config.TITLE }} | {% block title %}{% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic">
    <link rel="stylesheet" href="/css/main.css">

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <img src="/img/cap/spire.png" id="bg"/>
    <canvas id="canvas"></canvas>

    <header class="wrap">
        <div id="header">
        <a href="{{ uri_for('home') }}"><div class="logo sprite left"></div></a>
        {% block menu %}
        <nav>
            <ul>
                <li class="user">{{ user.nickname }}</li><a href="{{ uri_for('players') }}"><li {% if nav=="Players" %}class="on"{% endif %}>Players</li></a><a href="{{ uri_for('play_sessions') }}"><li {% if nav=="Sessions" %}class="on"{% endif %}>Sessions</li></a><a href="{{ uri_for('chats') }}"><li {% if nav=="Chats" %}class="on"{% endif %}>Chats</li></a>
            </ul>
        </nav>
        {% endblock %}
        </div>
    </header>

    <div id="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        {% block footer %}
        <div id="footer">
            <span class="copy">&copy; Copyright 2013&nbsp;&nbsp;The MineCraft Community Online Activity Log</span>
            <span class="right">Code: <a href="http://www.gumption.com">Thomas Bohmbach, Jr.</a>&nbsp;&nbsp;|&nbsp;&nbsp;Design: <a href="http://brentgustafson.com">Brent Gustafson</a></span>
        </div>
        {% endblock %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/plugins.js"></script> <!-- paste jQuery plugins here -->
    <script src="/js/stackblur.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
