{%- set nav = nav -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block head %}
        <title>{% if server %}{{ server.name }}{% else %}MC COAL{% endif %} | {% block title %}{% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic">
    <link rel="stylesheet" href="/css/main.css">

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    {% if user and user.active %}
        <img src="{{ bg_img or '/img/cap/spire_blur.jpg' }}" id="bg"/>
    {% else %}
        <img src="/img/cap/spire_blur.jpg" id="bg"/>
    {% endif %}

    <header class="wrap">
        <div id="header">
        <a href="{{ uri_for('main') }}"><div class="logo sprite left"></div></a>
        {% block menu %}
        <nav>
            <ul>
                <li class="user"><a href="{{ uri_for('user_profile') }}">{{ user.name|truncate(15, True) }}</a></li>{% if user.admin %}<a href="{{ uri_for('admin') }}"><li {% if nav=="Admin" %}class="on"{% endif %}>Admin</li></a>{% endif %}{% if server %}<a href="{{ uri_for('screenshots', server_key=server.key.urlsafe()) }}"><li {% if nav=="ScreenShots" %}class="on"{% endif %}>Screens</li></a><a href="{{ uri_for('players', server_key=server.key.urlsafe()) }}"><li {% if nav=="Players" %}class="on"{% endif %}>Players</li></a><a href="{{ uri_for('play_sessions', server_key=server.key.urlsafe()) }}"><li {% if nav=="Sessions" %}class="on"{% endif %}>Sessions</li></a><a href="{{ uri_for('chats', server_key=server.key.urlsafe()) }}"><li {% if nav=="Chats" %}class="on"{% endif %}>Chats</li></a>{% endif %}
            </ul>
        </nav>
        {% endblock %}
        </div>
    </header>

    <div id="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        {% block footer %}
        <div id="footer">
            <span class="copy">&copy; Copyright 2014&nbsp;&nbsp;<a href="http://mc-coal.org" target="_blank">The MineCraft Community Online Activity Log</a></span>
            <span class="right">
                <div class="left code_credit">
                    Code: <a href="http://thomasbohmbach.com" target="_blank">Thomas Bohmbach, Jr.</a><br>
                    <span class="lesser_credit">
                        With contributions by <a href="https://github.com/gumptionthomas/mc-coal/issues/11" target="_blank">Mark Larimer</a>
                    </span>
                </div>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                Design: <a href="http://brentgustafson.com" target="_blank">Brent Gustafson</a>
            </span>
        </div>
        {% endblock %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/js/plugins.js"></script> <!-- paste jQuery plugins here -->
    <script src="/js/main.js"></script>

    {% block js %}{% endblock %}

</body>
</html>
