{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}Chats{% endblock %}
{% block page_name %}Chats{% endblock %}
{% block content %}
    {{ macros.previous_next_uri('chats', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
    {% for chat in chats %}
        <li>[{{ chat.timestamp | datetimeformat }}] &lt;{{ "YOU" if chat.username == user.username else chat.username }}&gt; {{ chat.chat }}</li>
    {% endfor %}
    {{ macros.previous_next_uri('chats', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
