{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Chats" %}

{% block title %}Chats{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="channel-token" content="{{ channel_token }}">
    <meta name="username" content="{{ username }}">
{% endblock %}

{% block content %}
<div class="player wrap event_template">
    <div class="avatar"></div>
    <div class="name"></div>
    <div class="chat"></div>
    <div class="online">
        <div class="data"></div>
    </div>
</div>

<div class="player_list chats">
    <h2 class="box wrap">
        <div class="left">Chats</div>
        <form action="/chats" method="GET" id="search">
            <input type="text" name="q" class="sprite" value="{{ query_string }}"/>
        </form>
        <div class="sound_toggle">
            Sound <a class="sound_state"></a>
        </div>
    </h2>

    <h3 class="box live_updates_status">
        Live updates have been <strong>disconnected</strong>!<br><a href="/chats">Reload</a> to reconnect.
    </h3>

    <div id="live_events" class="box">
        {% include "_chats.html" %}
    </div>
</div>

{{ macros.infinite_scroll_uri('chats', next_cursor=next_cursor) }}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/buzz.js"></script>
    <script type="text/javascript" src="/js/chats.js"></script>
{% endblock %}
