{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}Configure Instance{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <form action="{{ uri_for('instance_configure') }}" method="post">
                <label>Zone</label>
                {{ macros.with_errors(form.zone, class="span3") }}
                <label>Machine Type</label>
                {{ macros.with_errors(form.machine_type, class="span3") }}
                <label>Disk Size (GB)</label>
                {{ macros.with_errors(form.disk_size, class="span3") }}
                <label>Number Of Saved Games</label>
                {{ macros.with_errors(form.backup_depth, class="span3") }}
                <label>Use Reserved IP Address</label>
                {{ macros.with_errors(form.reserved_ip, class="span3") }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ uri_for('admin') }}">Cancel</a>
                </div>
            </form>
            {% if instance.is_running %}Changes will not take effect until GCE instance restart.{% endif %}
        </div>
    </div>
{% endblock %}
