{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}Configure Instance{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <form action="{{ uri_for('instance_configure') }}" method="post">
                <label>Zone</label>
                {{ macros.with_errors(form.zone, class="span3") }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ uri_for('servers') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
