{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="box">
        <p><h2><a href="{{ gae_login_uri }}">Log In With Google</a></h2></p>
        <p><h2>Log In With IndieAuth:</h2></p>
        <form action="http://indieauth.com/auth" method="get">
          <label>Web Address:</label>
          <input type="text" name="me" placeholder="yourdomain.com" />
          <p><button type="submit">Sign In</button></p>
          <input type="hidden" name="redirect_uri" value="{{ ia_redirect_uri }}" />
        </form>
    </div>
{% endblock %}
