{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}Logins{% endblock %}
{% block page_name %}Logins{% endblock %}
{% block content %}
    {{ macros.previous_next_uri('chats', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
    {% for login in logins %}
        <li>[{{ login.timestamp | datetimeformat }}] &lt;{{ login.username | username_pronoun(user) }}&gt;</li>
    {% endfor %}
    {{ macros.previous_next_uri('chats', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
