{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}Logouts{% endblock %}
{% block page_name %}Logouts{% endblock %}
{% block content %}
    {{ macros.previous_next_uri('chats', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
    {% for logout in logouts %}
        <li>[{{ logout.timestamp | datetimeformat }}] &lt;{{ logout.username | username_pronoun(user) }}&gt;</li>
    {% endfor %}
    {{ macros.previous_next_uri('chats', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
