{% macro previous_next_uri(name, server_key, previous_cursor=None, next_cursor, size=20) -%}
    <div class="wrap">
    {% if previous_cursor %}
    <div class="page box left">
        <a href="{{ uri_for_pagination(name, server_key=server_key, cursor=previous_cursor) }}">Newer</a>
    </div>
    {% endif %}

    {% if next_cursor %}
    <div class="page box left">
        <a href="{{ uri_for_pagination(name, server_key=server_key, cursor=next_cursor) }}">Older</a>
    </div>
    {% endif %}
    </div>
{%- endmacro %}

{% macro infinite_scroll_uri(name, server_key, next_cursor, size=20) -%}
    {% if next_cursor %}
    <h3 class="box infinite_scroll" data-url="{{ uri_for_pagination(name, server_key=server_key, cursor=next_cursor) }}">
        Loading...
    </h3>
    {% endif %}
{%- endmacro %}

{% macro time_elapse(days, secs) -%}
    {% if days %}
        {{ days }}d
    {% endif %}

    {% set hours = secs // 3600 %}
    {% set mins = secs % 3600 // 60 %}

    {% if hours !=0 %}
        {{hours}}h
    {% endif %}

    {{mins}}m
{%- endmacro %}

{% macro with_errors(field) %}
  <div class="form_field control-group {% if field.errors %}error{% endif %}">
    {% if field.errors %}
      {{ field(**kwargs) }}
      <ul class="help-inline errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
      {{ field(**kwargs) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro server_status(server, user, open_sessions=None) %}
    {% set status = 'unknown' %}
    {% set status_text = 'Existential Crisis' %}
    {% if server.is_running %}
        {% set status = 'up' %}
        {% set status_text = 'Playing' %}
    {% endif %}
    {% if server.is_stopped %}
        {% set status = 'down' %}
        {% set status_text = 'Defunct' %}
    {% endif %}
    {% if server.is_gce %}
        {% if server.is_unknown or server.is_stopped %}
            {% set status = 'down' %}
            {% set status_text = 'Paused' %}
        {% elif server.is_queued_start %}
            {% set status = 'queued' %}
            {% set status_text = 'Prologue...' %}
        {% elif server.is_queued_stop %}
            {% set status = 'queued' %}
            {% set status_text = 'Epilogue...' %}
       {% endif %}
    {% endif %}
    <div class="title box wrap">
        <div class="left">
            <h1><a href="{{ uri_for('home', server_key=server.key.urlsafe()) }}">{{ server.name }}</a></h1>
            <h4>Day {{ server.server_day }} / Time {{ server.server_time }}
            {% if server.is_raining != None %}
                {% if server.is_raining %}
                    / Raining
                    {% if server.is_thundering %}
                        & Thundering
                    {% endif %}
                {% else %}
                    / Clear
                {% endif %}
            {% endif %}
            </h4>
            {% if server.address %}<h4>Address: {{ server.address }}</h4>{% endif %}
            {% if user.admin %}
                <h4>Admin Tools: &nbsp;
                {% if server.is_gce %}
                    <a href="{{ uri_for('server_gce', key=server.key.urlsafe()) }}">Edit</a>
                {% else %}
                    <a href="{{ uri_for('server', key=server.key.urlsafe()) }}">Edit</a>
                {% endif %}
                {% if not ON_SERVER %}
                    &nbsp; | &nbsp; <a href="{{ uri_for('server_upload_log', key=server.key.urlsafe()) }}">Upload Log File</a>
                {% endif %}
                </h4>
            {% endif %}
            {% if open_sessions %}
                <div class="player_list left">
                    <h3 class="box">Currently Playing</h3>
                    {% for open_session in open_sessions %}
                        <div class="player wrap">
                            <div class="avatar" style="background-image: url(https://minotar.net/helm/{{open_session.username}}/40)"></div>
                            <div class="name">{{ open_session.username }}</div>
                            <div class="online">
                                {% if open_session.duration %}
                                    {{ time_elapse(open_session.duration.days, open_session.duration.seconds) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
       </div>
        <div class="status wrap {{ status }}">
            <i class="sprite"></i>
            <div class="right">
                <h4>Server Status{% if server.last_ping %}&nbsp;({{ server.last_ping|datetimeformat(format='%b %d, %Y', timezone=user.timezone) }}&nbsp;&nbsp;{{ server.last_ping|datetimeformat(format='%I:%M%p', timezone=user.timezone) }}{% endif %})</h4>
                {% if server.num_overloads %}<h4>5 Minute Lag Count:&nbsp;{{ server.num_overloads }}&nbsp;({{ server.ms_behing }}ms,&nbsp;{{ server.skipped_ticks }}&nbsp;ticks)</h4>{% endif %}
                <strong>
                    {{ status_text }} (v{{ server.running_version }})
                </strong>
                {% if server.is_gce %}
                    {% if server.is_stopped or server.is_unknown %}
                        <form action="{{ uri_for('server_start', key=server.key.urlsafe()) }}" method="post">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Play</button>
                            </div>
                        </form>
                    {% elif user.admin %}
                        {% if not server.is_queued %}
                            <form action="{{ uri_for('server_restart', key=server.key.urlsafe()) }}">
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Restart</button>
                                </div>
                            </form>
                        {% endif %}
                        <form action="{{ uri_for('server_stop', key=server.key.urlsafe()) }}">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Pause</button>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}