{% macro previous_next_uri(name, previous_cursor=None, next_cursor, size=20) -%}
    <div class="wrap">
    {% if previous_cursor %}
    <div class="page box left">
        <a href="{{ uri_for_pagination(name, cursor=previous_cursor) }}">Newer</a>
    </div>
    {% endif %}

    {% if next_cursor %}
    <div class="page box left">
        <a href="{{ uri_for_pagination(name, cursor=next_cursor) }}">Older</a>
    </div>
    {% endif %}
    </div>
{%- endmacro %}

{% macro infinite_scroll_uri(name, next_cursor, size=20) -%}
    {% if next_cursor %}
    <h3 class="box infinite_scroll" data-url="{{ uri_for_pagination(name, cursor=next_cursor) }}">
        Loading...
    </h3>
    {% endif %}
{%- endmacro %}

{% macro time_elapse(days, secs) -%}
    {% if days %}
        {{ days }}d
    {% endif %}

    {% set hours = secs // 3600 %}
    {% set mins = secs % 3600 // 60 %}

    {% if hours !=0 %}
        {{hours}}h
    {% endif %}

    {{mins}}m
{%- endmacro %}

{% macro with_errors(field) %}
  <div class="form_field control-group {% if field.errors %}error{% endif %}">
    {% if field.errors %}
      {{ field(**kwargs) }}
      <ul class="help-inline errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
      {{ field(**kwargs) }}
    {% endif %}
  </div>
{% endmacro %}
