{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Sessions" %}

{% block title %}Sessions{% endblock %}

{% block content %}
<div class="player_list sessions">
    <h2 class="box">Sessions</h2>

    <div class="box">
    {% for play_session in play_sessions %}
        <div class="player wrap {% if play_session.is_user(user) %}you{% endif %}">
            <div class="activity {% if not play_session.logout_timestamp %}on{% endif %}"></div>
            <div class="avatar" style="background-image: url(https://minotar.net/helm/{{play_session.username}}/40)"></div>
            <div class="name">{{ play_session.username }}</div>

            <div class="online logout">
                <h4>Logout Date</h4>
                <div class="data">
                    {% if play_session.logout_timestamp %}
                        {{ play_session.logout_timestamp|datetimeformat(format='%b %d, %Y', timezone=user.timezone) }}&nbsp;&nbsp;{{ play_session.logout_timestamp|datetimeformat(format='%I:%M%p', timezone=user.timezone) }}
                    {% else %}
                        <em>Currently Playing</em>
                    {% endif %}
                </div>
            </div>

            <div class="online login">
                <h4>Login Date</h4>
                <div class="data">{{ play_session.login_timestamp|datetimeformat(format='%b %d, %Y', timezone=user.timezone) }}&nbsp;&nbsp;{{ play_session.login_timestamp|datetimeformat(format='%I:%M%p', timezone=user.timezone) }}</div>
            </div>

            <div class="online playtime">
                <h4>Play Time</h4>
                <div class="data">
                    {{ macros.time_elapse(play_session.duration.days, play_session.duration.seconds) }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


    {{ macros.previous_next_uri('play_sessions', server_key=server.key.urlsafe(), next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
