{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Players" %}

{% block title %}Players{% endblock %}

{% block content %}
    <div class="player_list players">
        <h2 class="box">Players</h2>
        
        <div class="box">
        {% for player in players %}
            {% if player.last_session_duration %}
            <div class="player wrap {% if player.is_user(user) %}you{% endif %}">
                <div class="activity {% if player.is_playing %}on{% endif %}"></div>
                <div class="avatar" style="background-image: url(http://i.mcss.me/{{player.username}}.png)"></div>
                <div class="name">{{ player.username }}</div>
                <div class="online">
                    {% if player.is_playing %}
                        <h4>Online For</h4>
                        <div class="data">
                            {% if player.last_session_duration %}
                                {{ macros.time_elapse(player.last_session_duration.days, player.last_session_duration.seconds) }}
                            {% endif %}
                        </div>
                    {% else %}
                        <h4>Last Login</h4>
                        <div class="data">{{ player.last_login|datetimeformat('%b %d, %Y') }}&nbsp;&nbsp;{{ player.last_login|datetimeformat('%g:%M%p') }}</div>
                    {% endif %}
                </div>
            </div>                
            {% endif %}
        {% endfor %}
        </div>
    </div>
    
    {{ macros.previous_next_uri('players', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
