{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="ScreenShots" %}

{% block title %}Screenshots{% endblock %}

{% block content %}
    <div class="screenshot_list screenshots">
        <h2 class="box">Screenshots</h2>

        <h2 class="box"><a href="{{ uri_for('screenshot_upload', server_key=server.key.urlsafe()) }}">Upload Screenshot</a></h2>

        {% for screenshot in screenshots %}
            <div class="box">
                <div class="pad">
                    <img class="screenshot" src="{{ screenshot.get_serving_url() }}" width="25%", height="25%">
                    <img class="screenshot" src="{{ screenshot.blurred_image_serving_url or '/img/cap/blurring.png' }}" width="25%", height="25%">
                    <div class="wrap">
                        <div class="screenshot_uploader">Uploaded by {{ screenshot.user.name }}</div>
                        <form id="remove_screenshot_form" action="{{ uri_for('screenshot_remove', server_key=server.key.urlsafe(), key=screenshot.key.urlsafe()) }}" method="POST">
                            <input type="submit" name="submit" value="Remove">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ macros.previous_next_uri('screenshots', server_key=server.key.urlsafe(), next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
