{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="ScreenShots" %}

{% block title %}Screen Shots{% endblock %}

{% block content %}
    <div class="screen_shot_list screenshots">
        <h2 class="box">Screen Shots</h2>

        <div class="box"><a href="{{ uri_for('screen_shot_upload') }}">Upload Screen Shot</a></div>

        {% for screen_shot in screen_shots %}
            <div>Uploaded by {{ screen_shot.username }}
                <img src="{{ screen_shot.get_serving_url() }}" width="25%", height="25%">
                <img src="{{ screen_shot.blurred_image_serving_url }}" width="25%", height="25%">
                <form action="{{ uri_for('screen_shot_remove', key=screen_shot.key.urlsafe()) }}" method="POST">
                    <input type="submit" name="submit" value="Remove">
                </form>
            </div>
        {% endfor %}
    </div>

    {{ macros.previous_next_uri('players', next_cursor=next_cursor, previous_cursor=previous_cursor) }}
{% endblock %}
