{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}Create New Server{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <form action="{{ uri_for('server_create') }}" method="post">
                <label>Name</label>
                {{ macros.with_errors(form.name, class="span3") }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a class="btn" href="{{ uri_for('admin') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
