{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}{{ edit_server.name }}{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <div class="wrap">
                <div class="name">{{ edit_server.name }}</div><br/><br/>
                {% if not edit_server.is_gce %}
                    <div><strong>AGENT CLIENT ID:</strong> {{ edit_server.agent.client_id }}</div>
                    <div><strong>AGENT SECRET:</strong> {{ edit_server.agent.secret }}</div>
                {% endif %}
            </div>
        </div>

        <div class="box">
            <form action="{{ action }}" method="post">
                {% for field in form %}
                    {{ field.label}}
                    {{ macros.with_errors(field, class="span3") }}
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ uri_for('home', server_key=edit_server.key.urlsafe()) }}">Cancel</a>
                </div>
            </form>
        </div>
        <div class="box">
            <form action="{{ uri_for('server_deactivate', key=edit_server.key.urlsafe()) }}" method="post">
                <input type="submit" name="submit" value="Deactivate">
            </form>
        </div>
    </div>
{% endblock %}
