{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}{{ edit_server.name }}{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <div class="wrap">
                <div class="name">{{ edit_server.name }}</div>
            </div>
        </div>

        <div class="box">
            <form action="{{ uri_for('server_gce', key=edit_server.key.urlsafe()) }}" method="post">
                <label>Name</label>
                {{ macros.with_errors(form.name, class="span3") }}
                <label>Memory</label>
                {{ macros.with_errors(form.memory, class="span3") }}
               <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ uri_for('servers') }}">Cancel</a>
                </div>
            </form>
        </div>
        <div class="box">
            <form action="{{ uri_for('server_deactivate', key=edit_server.key.urlsafe()) }}" method="post">
                <input type="submit" name="submit" value="Deactivate">
            </form>
        </div>
        <div class="box">
            {% if edit_server.is_gce %}
                {% if edit_server.is_stopped or edit_server.is_queued or edit_server.status == 'UNKNOWN' %}
                    <form action="{{ uri_for('server_start', key=edit_server.key.urlsafe()) }}" method="post">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </form>
                {% else %}
                    <form action="{{ uri_for('server_stop', key=edit_server.key.urlsafe()) }}" method="post">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Stop</button>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
