{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}Restore Saved Game{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <form action="{{ action }}" method="post">
                <label>Choose {{edit_server.name }} saved game to restore:</label>
                {{ macros.with_errors(form.generation, class="span3") }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Restore</button>
                    <a class="btn" href="{{ uri_for('home', server_key=edit_server.url_key) }}">Cancel</a>
                </div>
            </form>
        </div>
        <br/>
        <div class="box">
            Upload A Server Archive:
            <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
                Choose File: <input type="file" name="file">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <a class="btn" href="{{ uri_for('home', server_key=edit_server.url_key) }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
