{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}Create New Server{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <form action="{{ action }}" method="post">
            {% for field in form %}
                {{ field.label}}
                {{ macros.with_errors(field, class="span3") }}
            {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a class="btn" href="{{ uri_for('admin') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
