{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}{{ edit_user.name }}{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <div class="player wrap {% if edit_user.key == user.key %}you{% endif %}">
                {% if edit_user.username %}<div class="avatar" style="background-image: url(https://minotar.net/helm/{{ edit_user.username }}/40)"></div>{% endif %}
                <div class="name">{{ edit_user.email or edit_user.nickname }}</div>
                <div class="online">
                    <h4>Last COAL Login</h4>
                    <div class="data">{% if edit_user.last_login %}{{ edit_user.last_login|datetimeformat('%b %d, %Y') }}&nbsp;&nbsp;{{ edit_user.last_login|datetimeformat('%I:%M%p') }}{% else %}Never{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="box">
            <form action="{{ uri_for('user_profile', next_url=next_url) }}" method="post">
                <label>Email</label>
                {{ macros.with_errors(form.email, class="span3") }}

                <label>Nickname</label>
                {{ macros.with_errors(form.nickname, class="span3") }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ next_url or uri_for('home') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
