{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% set nav="Admin" %}

{% block title %}{{ edit_user.email }}{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <div class="player wrap {% if edit_user.key == user.key %}you{% endif %}">
                {% if edit_user.username %}<div class="avatar" style="background-image: url(https://minotar.net/helm/{{ edit_user.username }}/40)"></div>{% endif %}
                <div class="name">{{ edit_user.email or edit_user.nickname }}</div>
                <div class="online">
                    <h4>Last COAL Login</h4>
                    <div class="data">{% if edit_user.last_login %}{{ edit_user.last_login|datetimeformat('%b %d, %Y') }}&nbsp;&nbsp;{{ edit_user.last_login|datetimeformat('%I:%M%p') }}{% else %}Never{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="box">
            <form action="{{ uri_for('user', key=edit_user.key.urlsafe()) }}" method="post">
                <label>Username</label>
                {{ macros.with_errors(form.usernames, class="span3") }}

                <label>Active</label>
                {{ macros.with_errors(form.active, class="span3") }}

                <label>Admin</label>
                {{ macros.with_errors(form.admin, class="span3") }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ uri_for('users') }}">Cancel</a>
                </div>
            </form>
        </div>
        <div class="box">
            <form action="{{ uri_for('user_remove', key=edit_user.key.urlsafe()) }}" method="POST">
                <input type="submit" name="submit" value="Remove">
            </form>
        </div>
    </div>
{% endblock %}
