{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}{{ edit_user.name }}{% endblock %}

{% block content %}
    <div class="player_list players">
        <div class="box">
            <div class="player wrap {% if edit_user.key == user.key %}you{% endif %}">
                {% if edit_user.username %}<div class="avatar" style="background-image: url(https://minotar.net/helm/{{ edit_user.username }}/40)"></div>{% endif %}
                <div class="name">{{ edit_user.email or edit_user.nickname }}</div>
                <div class="online">
                    <h4>Last COAL Login</h4>
                    <div class="data">{% if edit_user.last_login %}{{ edit_user.last_login|datetimeformat(format='%b %d, %Y', timezone=user.timezone) }}&nbsp;&nbsp;{{ edit_user.last_login|datetimeformat(format='%I:%M%p', timezone=user.timezone) }}{% else %}Never{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="box">
            <form action="{{ uri_for('user_profile', next_url=next_url) }}" method="post">
                <label>Email</label>
                {{ macros.with_errors(form.email, size="50") }}

                <label>Nickname</label>
                {{ macros.with_errors(form.nickname, size="50") }}

                <label>Timezone</label>
                {{ macros.with_errors(form.timezone_name, size="8") }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ next_url or uri_for('main') }}">Cancel</a>
                </div>
            </form>
        </div>
        <br/>
        <div class="box">
            <h4>Linked Minecraft Usernames</h4>
            {% if user.usernames %}
                {% for username in user.usernames %}
                    <div class="player wrap {% if user.is_username(username) %}you{% endif %}">
                        <div class="avatar" style="background-image: url(https://minotar.net/helm/{{ username }}/40)"></div>
                        <div class="name">{{ username }}</div>
                    </div>
                {% endfor %}
            {% else %}
                None
            {% endif %}
        </div>
        <br/>
        <div class="box">
            <h4>Link A New Minecraft Username</h4>
            <form action="{{ uri_for('username_claim', next_url=uri_for('user_profile', next_url=next_url)) }}" method="post">
                <label>Mojang Username</label>
                {{ macros.with_errors(claim_form.username, size="50") }}
                <label>Mojang Password</label>
                {{ macros.with_errors(claim_form.password, size="50") }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Link</button>
                    <a class="btn" href="{{ next_url or uri_for('main') }}">Cancel</a>
                </div>
            </form>
            Your Mojang password is never saved. It is only transferred once to Mojang via a secure connection in order to authenticate.
        </div>
        {% if not user.is_gae_user %}
        <br/>
        <div class="box">
            <h4>Link A Google Account</h4>
            <h2><a href="{{ gae_claim_uri }}"><img src="/img/google_sign_in.png"></a></h2>
        </div>
        {% endif %}
        <br/>
        <div class="box">
            <h1><a href="{{ uri_for('logout') }}">Logout</a></h1>
        </div>
    </div>
{% endblock %}
